---
Checks:          'clang-analyzer-*'
RemovedArgs:
  - '-fdeps-format=p1689r5'
  - '-fmodules-ts'
  - '-fmodule-mapper=libcompressor/CMakeFiles/LibCompressor.dir/src/libcompressor.cpp.o.modmap'
  - '-fmodule-mapper=compressor/CMakeFiles/Compressor.dir/src/compressor.cpp.o.modmap'
  - '-fmodule-mapper=libcompressor/tests/CMakeFiles/LibCompressorTest.dir/libcompressortest.cpp.o.modmap'
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: ''
FormatStyle:     none
SystemHeaders:   false
...

